.App {
  text-align: center;
}

.App-logo {
  height: 40px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container, .container-fluid {
  margin-top: 20px;
}

.navbar-footer {
  padding: 10px;
  text-align: center;
  width: 100%;
  color: white;
}

.div-spacing {
  margin-bottom: 10px;
}

.footer-spacing {
  padding: 15px;
  margin-top: 10px;
}